{% load static %}

<header class="navbar navbar-expand-xl navbar-light bg-white border-bottom border-xl-0 py-2 py-xl-4">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand me-0" href="index.html">
            <img src="{% static 'assets/img/brand.svg' %}" class="navbar-brand-img" alt="...">
        </a>

        <!-- Vertical Menu -->
        {% include 'partials/navigation/category_menu.html' %}

        <!-- Search form -->
        {% include 'partials/form/search_form.html' %}
        <!-- Search form end -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse z-index-lg" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler outline-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Icon -->
                <svg width="16" height="17" viewBox="0 0 16 17">
                    <use xlink:href="{% static 'assets/img/icons/close.svg' %}#close" />
                </svg>
            </button>

            <!-- Navigation -->
            {% include 'partials/navigation/navbar_menu.html' %}
        </div>

        <!-- Search, Account & Cart -->
        <ul class="navbar-nav flex-row ms-auto ms-xl-0 me-n2 me-md-n4">
            <li class="nav-item border-0 px-0 d-none d-370-block d-xl-none">
                <a class="nav-link d-flex px-3 px-md-4 search-mobile text-secondary icon-xs" data-bs-toggle="collapse" href="#collapseSearchMobile" role="button" aria-expanded="false" aria-controls="collapseSearchMobile">
                    <!-- Icon -->
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <use xlink:href="{% static 'assets/img/icons/magnifier.svg' %}#magnifier" />
                    </svg>

                    <!-- Icon -->
                    <svg width="16" height="17" viewBox="0 0 16 17">
                        <use xlink:href="{% static 'assets/img/icons/close.svg' %}#close" />
                    </svg>
                </a>

                <div class="collapse position-absolute right-0 left-0" id="collapseSearchMobile">
                    <div class="card card-body p-4 mt-7 shadow-dark">
                        <!-- Search -->
                        {% include 'partials/form/search_form_mobile.html' %}
                    </div>
                </div>
            </li>

            <li class="nav-item border-0 px-0">
                <!-- cart -->
                <a href="{% url 'carts:cart' %}" class="nav-link d-flex px-3 px-md-4 position-relative text-secondary icon-xs">
                    <!-- display cart's course count if count is greater than zero -->
                    {% if course_count > 0 %}
                    <span class="badge badge-primary rounded-circle fw-bold badge-float mt-n1 ms-n2 px-0 w-16" style="font-size: 8px;">
                        {{ course_count }}
                    </span>
                    {% endif %}
                    <!-- Icon -->
                    <svg width="13" height="15" viewBox="0 0 13 15">
                        <use xlink:href="{% static 'assets/img/icons/shoppin-bag.svg' %}#shoppin-bag" />
                    </svg>
                </a>
            </li>

            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ request.user.profile.url }}" alt="profile" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Public Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:profile_update' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}">Instructor Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </ul>

        <div class="ms-2">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-outline-primary me-2">Login</a>
            <a href="{% url 'accounts:register' %}" class="btn btn-sm btn-primary">Sign-up</a>
            {% endif %}
        </div>

        <!-- Toggler -->
        <button class="navbar-toggler ms-4 ms-md-5 shadow-none bg-teal text-white icon-xs p-0 outline-0 h-40p w-40p d-flex d-xl-none place-flex-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Icon -->
            <svg width="25" height="17" viewBox="0 0 25 17">
                <use xlink:href="{% static 'assets/img/icons/menu.svg' %}#menu" />
            </svg>
        </button>
    </div>
</header>