<div class="pb-8 bg-white">
    <div class="row text-center">
        <div class="col-md-3 mb-6 mb-md-0">
            <div class="h1 mb-1"><span data-toggle="countup" data-from="0" data-to="749" data-aos data-aos-id="countup:in"></span></div>
            <p class="font-size-lg fw-medium mb-0">Creative Events</p>
        </div>

        <div class="col-md-3 mb-6 mb-md-0">
            <div class="h1 mb-1"><span data-toggle="countup" data-from="0" data-to="853" data-aos data-aos-id="countup:in"></span></div>
            <p class="font-size-lg fw-medium mb-0">Skilled Tutors</p>
        </div>

        <div class="col-md-3 mb-6 mb-md-0">
            <div class="h1 mb-1"><span data-toggle="countup" data-from="0" data-to="28" data-aos="" data-aos-id="countup:in"></span>k+</div>
            <p class="font-size-lg fw-medium mb-0">Online Courses</p>
        </div>

        <div class="col-md-3 mb-6 mb-md-0">
            <div class="h1 mb-1"><span data-toggle="countup" data-from="0" data-to="53" data-aos="" data-aos-id="countup:in"></span>k+</div>
            <p class="font-size-lg fw-medium mb-0">People Worldwide</p>
        </div>
    </div>
</div>