{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    {% include 'accounts/partials/profile_breadcrumb_nav.html' %}
</div>

<div class="container pt-8 pt-md-8">
    <div>
        <h1 class="text-center mb-1">Photo</h1>
        <p class="text-center fw-semi-bold my-2">Add a nice photo of yourself for your profile.</p>
    </div>
    <div class="row">
        <div class="col-xl-8 mx-xl-auto">
            <p class="fw-semi-bold my-2">Image preview</p>
            <div class="d-flex flex-wrap align-items-center justify-content-center mb-5 mb-md-3">
                <div class="border rounded-circle d-inline-block mb-4 mb-md-0 mx-lg-4 order-0">
                    <div class="p-4">
                        <img src="{{ form.instance.profile.url }}" alt="profile" class="rounded-circle img-fluid" width="170" height="170"/>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-center mb-5 mb-md-3">
                <div class="card">
                    {% include 'partials/messages.html' %}
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                            {{ form|crispy }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Update Profile
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
