{% load static %}

<ul class="navbar-nav navbar-vertical ms-xl-4 d-none d-xl-flex">
    <li class="nav-item dropdown">
        <a class="nav-link pb-4 mb-n4 px-0 pt-0" id="navbarVerticalMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="bg-primary rounded py-3 px-5 d-flex align-items-center">
                <div class="me-3 ms-1 d-flex text-white">
                    <!-- Icon -->
                    <svg width="25" height="17" viewBox="0 0 25 17">
                        <use xlink:href="{% static 'assets/img/icons/menu.svg' %}#menu" />
                    </svg>
                </div>
                <span class="text-white fw-medium me-1">Categories</span>
            </div>
        </a>

        {% if categories %}
        <ul class="dropdown-menu dropdown-menu-md bg-primary rounded py-4 mt-4" aria-labelledby="navbarVerticalMenu">
            {% for category in categories %}
            <li class="dropdown-item dropright">
                <a href="{{ category.get_category_url }}" class="dropdown-link dropdown-toggle">
                    {{ category.title|title }}
                </a>

                <div class="dropdown-menu ps-3 top-0 pe-0 py-0 shadow-none bg-transparent">
                    {% if category.children.exists %}
                    <div class="dropdown-menu-md bg-primary rounded dropdown-menu-inner">
                        {% for subcategory in category.children.all %}
                        <a href="{{ subcategory.get_subcategory_url }}" class="dropdown-item">{{ subcategory.title|title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
</ul>