<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:contact' %}">Contact Us</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:about' %}">About</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:course_list' %}">Course List</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:course_detail' %}">Course Detail</a>
    </li>
</ul>