<div class="ms-lg-auto d-lg-flex flex-wrap">
    <div class="mb-4 mb-lg-0 ms-lg-6">
        <div class="border rounded d-flex align-items-center choices-label h-50p">
            <span class="ps-5">Sort by:</span>
            <select id="sort-dropdown" class="form-select form-select-sm text-dark border-0 ps-1 bg-transparent flex-grow-1 shadow-none dropdown-menu-end" data-choices>
                <option value="newest">Newest</option>
                <option value="highest_rated">Highest Rated</option>
            </select>
        </div>
    </div>
</div>
{% comment %} <option>Most Popular</option> {% endcomment %}