{% load static %}

<div class="card border shadow p-2 lift sk-fade mb-6 flex-md-row align-items-center row gx-0">
    <!-- Image -->
    <div class="col-md-4 position-relative">
        <a href="course-single-v5.html" class="card-img sk-thumbnail img-ratio-2 d-block">
            <img class="rounded shadow-light-lg" src="{{ course.featured_image.url }}" alt="Course Image">
        </a>
    </div>

    <!-- Footer -->
    <div class="col-md-8 card-footer px-2 px-md-5 py-4 py-md-0 position-relative">
        <!-- Heading -->
        <div class="position-relative">
            <a href="{{ course.get_absolute_url }}" class="d-block stretched-link">
                <h4 class="line-clamp-2 me-md-6 me-lg-10 me-xl-4 mb-3">{{ course.title }}</h4>
            </a>
            <div class="text-secondary">
                <span>{{ course.instructor.get_full_name }}</span>
            </div>
            <ul class="nav mx-n3 mb-3">
                <li class="nav-item px-3">
                    <div class="d-flex align-items-center">
                        <div class="me-2 d-flex text-secondary icon-uxs">
                            <!-- Icon -->
                            <svg width="20" height="20" viewBox="0 0 20 20">
                                <use xlink:href="{% static 'courses/img/svgs/reader.svg' %}#reader" />
                            </svg>
                        </div>
                        <div class="font-size-sm">5 lessons</div>
                    </div>
                </li>
                <li class="nav-item px-3">
                    <div class="d-flex align-items-center">
                        <div class="me-2 d-flex text-secondary icon-uxs">
                            <!-- Icon -->
                            <svg width="16" height="16" viewBox="0 0 16 16">
                                <use xlink:href="{% static 'courses/img/svgs/clock.svg' %}#clock" />
                            </svg>
                        </div>
                        <div class="font-size-sm">8h 12m</div>
                    </div>
                </li>
            </ul>

            <div class="row mx-n2 align-items-center">
                <div class="col px-2">
                    {% if course.is_free %}
                    <span class="badge badge-lg badge-danger bottom-0 left-0">
                        <span class="text-white text-uppercase fw-bold font-size-xs">FREE</span>
                    </span>
                    {% else %}
                        {% if course.has_discount %}
                        <del class="font-size-sm">${{ course.regular_price }}</del>
                        <ins class="h4 mb-0 mb-lg-n1 ms-1">${{ course.discount_price }}</ins>
                        {% else %}
                        <ins class="h4 mb-0 mb-lg-n1 ms-1">${{ course.regular_price }}</ins>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="col-auto px-2">
                    <div class="d-lg-flex align-items-end">
                        <div class="star-rating mb-2 mb-lg-0">
                            <div class="rating" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>