<div class=" vertical-scroll" id="courseSidebar">
    <!-- if there is subcategory slug and search query params in the url
        don't display this subcategory filter div -->
    {% if not subcategory and not query %}
    <div class="border rounded mb-6 ">
        <!-- Heading -->
        <div id="coursefilter1">
            {% include 'courses/partials/course_list/accordion_button.html' with text='Subategory' data_bs_target='coursefiltercollapse1' aria_controls='coursefiltercollapse1'%}
        </div>

        
        <div id="coursefiltercollapse1" class="collapse show mt-n2 px-6 pb-6" aria-labelledby="coursefilter1" data-parent="#courseSidebar">
            <ul class="list-unstyled list-group list-checkbox">
                {% for cat in subcategories_with_course_count %}
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="category-{{ cat.id }}">
                    <label for="category-{{ cat.id }}" class="custom-control-label font-size-base">
                        {{ cat.title|title }} ({{ cat.course_count }})
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="border rounded mb-6 ">
        <!-- Heading -->
        <div id="coursefilter2">
            {% include 'courses/partials/course_list/accordion_button.html' with text='Price' data_bs_target='coursefiltercollapse2' aria_controls='coursefiltercollapse2' %}
        </div>

        <div id="coursefiltercollapse2" class="collapse show mt-n2 px-6 pb-6" aria-labelledby="coursefilter2" data-parent="#courseSidebar">
            <ul class="list-unstyled list-group list-checkbox">
                {% for status_value, status_label, status_count in statuses %}
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="price-{{ status_value }}" name="price" value="{{ status_value }}">
                    <label for="price-{{ status_value }}" class="custom-control-label font-size-base">{{ status_label }} ({{ status_count }})</label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="border rounded mb-6 ">
        <!-- Heading -->
        <div id="coursefilter3">
            {% include 'courses/partials/course_list/accordion_button.html' with text='Level' data_bs_target='coursefiltercollapse3' aria_controls='coursefiltercollapse3' %}
        </div>

        <div id="coursefiltercollapse3" class="collapse show mt-n2 px-6 pb-6" aria-labelledby="coursefilter3" data-parent="#courseSidebar">
            <ul class="list-unstyled list-group list-checkbox">
                {% for level_value, level_label, level_count in levels %}
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="level-{{ level_value }}" name="levels" value="{{ level_value }}">
                    <label for="level-{{ level_value }}" class="custom-control-label font-size-base">
                        {{ level_label }} ({{ level_count }})
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="border rounded mb-6 ">
        <!-- Heading -->
        <div id="coursefilter4">
            {% include 'courses/partials/course_list/accordion_button.html' with text='Rating' data_bs_target='coursefiltercollapse4' aria_controls='coursefiltercollapse4' %}
        </div>

        <div id="coursefiltercollapse4" class="collapse show mt-n2 px-6 pb-6" aria-labelledby="coursefilter4" data-parent="#courseSidebar">
            <ul class="list-unstyled list-group list-checkbox">
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ratingcustomcheck1">
                    <label class="custom-control-label font-size-base" for="ratingcustomcheck1">
                        <span class="d-flex align-items-end">
                            <span class="star-rating">
                                <span class="rating" style="width:93%;"></span>
                            </span>

                            <span class="ms-3">
                                <span>4.5 & up</span>
                            </span>
                        </span>
                    </label>
                </li>
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ratingcustomcheck2">
                    <label class="custom-control-label font-size-base" for="ratingcustomcheck2">
                        <span class="d-flex align-items-end">
                            <span class="star-rating">
                                <span class="rating" style="width:80%;"></span>
                            </span>

                            <span class="ms-3">
                                <span>4 & up</span>
                            </span>
                        </span>
                    </label>
                </li>
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ratingcustomcheck3">
                    <label class="custom-control-label font-size-base" for="ratingcustomcheck3">
                        <span class="d-flex align-items-end">
                            <span class="star-rating">
                                <span class="rating" style="width:72%;"></span>
                            </span>

                            <span class="ms-3">
                                <span>3.5 & up</span>
                            </span>
                        </span>
                    </label>
                </li>
                <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ratingcustomcheck4">
                    <label class="custom-control-label font-size-base" for="ratingcustomcheck4">
                        <span class="d-flex align-items-end">
                            <span class="star-rating">
                                <span class="rating" style="width:60%;"></span>
                            </span>

                            <span class="ms-3">
                                <span>3 & up</span>
                            </span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <a href="#" class="btn btn-primary btn-block mb-10">FILTER RESULTS</a>
</div>