{% extends "accounts/base_auth.html" %}

{% block auth_content %}
<!-- flash messages -->
{% include 'partials/messages.html' %}
<!-- flash messages end -->
<h3 class="mb-6">Log In to Your Ndemy Account!</h3>
<form action="" method="post" class="mb-5" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="form__group mb-5">
        <label>{{ field.label }}</label>
        {{ field }}
        <!-- form validation messages -->
        {% include 'partials/form/form_errors.html' %}
    </div>
    {% endfor %}

    <div class="d-flex align-items-center mb-5 font-size-sm">
        <div class="form-check">
            <input class="form-check-input text-gray-800" type="checkbox" id="autoSizingCheck1">
            <label class="form-check-label text-gray-800" for="autoSizingCheck1">
                Remember me
            </label>
        </div>

        <div class="ms-auto">
            <a class="text-gray-800" href="{% url 'accounts:password_reset' %}">Forgot Password</a>
        </div>
    </div>
    <button class="btn btn-block btn-primary" type="submit">LOGIN</button>
</form>

<p class="mb-0 font-size-sm text-center">
    Don't have an account? <a class="text-underline" href="{% url 'accounts:register' %}">Sign up</a>
</p>
{% endblock auth_content %}