{% extends "base.html" %}

{% block content %}
<div class="container my-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Recover -->
            <h3 class="mb-6">Recover password!</h3>

            <!-- Form Recover Password -->
            <form class="mb-5">
                <!-- Email -->
                <div class="form-group">
                    <label for="modalForgotpasswordEmail1">
                        Email
                    </label>
                    <input type="email" class="form-control" id="modalForgotpasswordEmail1" placeholder="johndoe@creativelayers.com">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    RECOVER PASSWORD
                </button>
            </form>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-center">
                Remember your password? <a class="text-underline" href="{% url 'accounts:login' %}">Log In</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}