{% extends "accounts/base_auth.html" %}
{% load crispy_forms_tags %}

{% block auth_content %}
<h3 class="mb-6">Recover password!</h3>
<form action="" method="post" class="mb-5">
    {% csrf_token %}
    <div class="form-group mb-4">
        {{ form|crispy }}
    </div>
    <button class="btn btn-block btn-primary" type="submit">RECOVER PASSWORD</button>
</form>

<p class="mb-0 font-size-sm text-center">
    Remember your password? <a class="text-underline" href="{% url 'accounts:login' %}">Log In</a>
</p>
{% endblock auth_content %}