{% extends "base.html" %}

{% block content %}
<!-- BREADCRUMBS -->
<div class="container">
    <nav class="mb-5 mb-md-8 mt-2" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-scroll">
            <li class="breadcrumb-item">
                <a class="text-gray-800" href="#">Courses List</a>
            </li>
            <li class="breadcrumb-item text-gray-800 active" aria-current="page">Courses Single</li>
        </ol>
    </nav>
</div>

<!-- COURSE -->
<div class="container">
    <div class="row mb-8">
        <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
            <h1 class="me-7 me-xl-14">
                Learn Figma: User Interface Design Essentials - UI/UX Design
            </h1>
            <p class="me-xl-13 mb-5">Master Figma app to get a job in UI Design, User Interface, User Experience design, Web Design & UX design.</p>

            <!-- COURSE META -->
            <div class="d-md-flex align-items-center mb-5">
                <div class="mb-4 mb-md-0 me-md-8 me-lg-4 me-xl-8">
                    Created by <a href="#" class="font-size-sm text-gray-800">Alison Dawn</a>
                </div>

                <div class="mb-4 mb-md-0 me-md-8 me-lg-4 me-xl-8">
                    Last Updated<span href="#" class="font-size-sm text-gray-800">2020</span>
                </div>

                <div class="mb-4 mb-md-0 me-md-6 me-lg-4 me-xl-6">
                    <div class="d-lg-flex align-items-center">
                        <div class="font-size-sm ms-lg-3">
                            <span>9.45 (9.8k+ reviews)</span>
                        </div>
                    </div>
                </div>

                <div class="mb-4 mb-md-0 me-md-8 me-lg-4 me-xl-8">
                    <a href="#" class="font-size-sm text-gray-800">1000 students</a>
                </div>
            </div>

            <!-- COURSE INFO TAB -->
            <div class="mb-8">
                <h3 class="mb-5">What you'll learn</h3>
                <div class="row row-cols-lg-2 mb-8">
                    <div class="col-md">
                        <ul class="list-style-v1 list-unstyled">
                            <li>Become a UI/UX designer.</li>
                            <li>You will be able to start earning money skills.</li>
                            <li>Build a UI project from beginning to end.</li>
                            <li>Work with colors & fonts.</li>
                            <li>You will create your own UI Kit.</li>
                        </ul>
                    </div>

                    <div class="col-md">
                        <ul class="list-style-v1 list-unstyled ms-xl-6">
                            <li>Build & test a complete mobile app.</li>
                            <li>Learn to design mobile apps & websites.</li>
                            <li>Design 3 different logos.</li>
                            <li>Create low-fidelity wireframe.</li>
                            <li>Downloadable exercise files.</li>
                        </ul>
                    </div>
                </div>

                <h3 class="mb-5">Requirements</h3>
                <ul class="list-style-v2 list-unstyled">
                    <li>We do not require any previous experience or pre-defined skills to take this course. A great orientation would be enough to master UI/UX design.</li>
                    <li>A computer with a good internet connection.</li>
                    <li>Adobe Photoshop (OPTIONAL)</li>
                </ul>

                <h3 class="">Course Description</h3>
                <p class="mb-6 line-height-md">Do you want to become a UI/UX designer but you don't know where to start? This course will allow you to develop your user interface design skills and you can add UI designer to your CV and start getting clients for your skills.</p>
                <p class="mb-6 line-height-md">Hi everyone. I'm Arash and I'm a UI/UX designer. In this course, I will help you learn and master Figma app comprehensively from scratch. Figma is an innovative and brilliant tool for User Interface design. It's used by everyone from entrepreneurs and start-ups to Apple, Airbnb, Facebook, etc.</p>
                <p class="collapse mb-6 line-height-md" id="readcollapseExample">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente  I will help you learn and master Figma app comprehensively from scratch. Figma is an innovative and brilliant tool for User Interface design. It's used by everyone from entrepreneurs ea proident.</p>
                <a class="text-teal read-more h6 d-inline-block mb-8" data-bs-toggle="collapse" href="#readcollapseExample" role="button" aria-expanded="false" aria-controls="readcollapseExample">
                    <span class="d-inline-flex align-items-center more">
                        Read More
                        <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                            <i class="fas fa-plus font-size-10 text-white"></i>
                        </span>
                    </span>
                    <span class="d-inline-flex align-items-center less">
                        Read Less
                        <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                            <i class="fas fa-minus font-size-10 text-white"></i>
                        </span>
                    </span>
                </a>
            </div>

            <div id="Curriculum" class="mb-8">
                <h3 class="">Course Content</h3>
                <div id="accordionCurriculum">
                    {% include 'courses/partials/course_detail/course_curriculum.html' %}
                </div>
            </div>

            <!-- course instructor -->
            <div class="mb-8">
                <h3 class="mb-6">About the instructor</h3>
                {% include 'courses/partials/course_detail/course_instructor.html' %}
            </div>
            <!-- course instructor end -->

            <div id="Reviews" class="mb-8">
                <h3 class="mb-6">Student feedback</h3>
                <!-- course review feedback -->
                {% include 'courses/partials/course_detail/course_feedback.html' %}
                <!-- course review feedback end -->

                <!-- course reviews -->
                {% include 'courses/partials/course_detail/course_reviews.html' %}
                <!-- course reviews end -->

                <div class="border shadow rounded p-6 p-md-9">
                    <h3 class="mb-2">Add Reviews & Rate</h3>
                    <div class="">What is it like to Course?</div>
                    <!-- course review form -->
                    {% include 'courses/partials/course_detail/course_review_form.html' %}
                    <!-- course review form end -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <!-- SIDEBAR FILTER -->
            {% include 'courses/partials/course_detail/course_sidebar.html' %}

            <!-- latest courses -->
            {% include 'courses/partials/course_detail/latest_courses.html' %}
            <!-- latest courses end -->

        </div>
    </div>

    <div class="text-center mb-5 mb-md-8">
        <h1>Related Courses</h1>
        <p class="font-size-lg text-capitalize">Discover your perfect program in our courses.</p>
    </div>

    <!--related courses -->
    {% include 'courses/partials/course_detail/related_courses.html' %}
    <!--related courses end -->
</div>
{% endblock content %}