{% extends "base.html" %}

{% block content %}
{% if not query %}
<!-- Page breadcrumb navigation -->
<header class="py-8 py-md-8" style="background-image: none">
    <div class="container py-xl-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content">
                {% for parent_category in category %}
                <li class="breadcrumb-item">
                    <a href="{{ parent_category.get_category_url }}" class="text-gray-800{% if not subcategory %}-active{% endif %}">
                        {{ parent_category.title|title }}
                    </a>
                </li>
                {% if parent_category.children.exists %}
                    {% for sub_category in parent_category.children.all %}
                        <li class="breadcrumb-item">
                            <a href="{{ sub_category.get_subcategory_url }}" class="text-gray-800">{{ sub_category.title|title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <h1 class="display-4 fw-semi-bold mb-0">{{ title|title }} Courses</h1>
    </div>
</header>
{% endif %}


<!-- control bar -->
<div class="container {% if query %}mt-8{% else %}mb-6{% endif %} mb-xl-8 z-index-2">
    <div class="d-lg-flex align-items-center mb-6 mb-xl-0">
        {% comment %} <p class="mb-lg-0">We found <span class="text-dark">834 courses</span> available for you</p> {% endcomment %}
        {% if query %}
        <p class="mb-lg-0 fs-5 fw-semibold">
            {{ results_count }} result{{ results_count|pluralize }} for <span class="text-gigas">{{ query }}</span>
          </p>
        {% else %}
        <p class="mb-lg-0">
            We found
            <span class="text-dark">{{ results_count }} course{{ results_count|pluralize }}</span>
            available for you
        </p>
        {% endif %}
        {% include 'courses/partials/course_list/course_control_bar.html' %}
    </div>
</div>

<!-- COURSE -->
<div class="container">
    <div class="row">
        <div class="col-xl-4 mb-5 mb-xl-0">
            <!-- Course Sidebar Filter -->
            {% include 'courses/partials/course_list/course_filter.html' %}
            <!-- Course Sidebar Filter End -->
        </div>

        <div class="col-xl-8">
            <!-- Course Card -->
            {% for course in courses %}
            {% include 'courses/partials/course_list/course_card.html' %}
            {% empty %}
            <div class="display-4">
                No course available.
            </div>
            {% endfor %}
            <!-- Course Card End -->

            <!-- PAGINATION -->
            <nav class="mt-8 mb-11" aria-label="Page navigationa">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
{% endblock content %}