{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="py-4 py-md-13 position-relative bg-white">
    <!-- Cursor position parallax -->
    <div class="position-absolute right-0 left-0 top-0 bottom-0">
        <div class="cs-parallax">
            <div class="cs-parallax-layer" data-depth="0.1">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-01.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-02.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-03.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-04.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.4">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-05.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-06.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-07.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-08.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.4">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-09.svg' %}" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="{% static 'assets/img/parallax/layer-10.svg' %}" alt="Layer">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2" data-aos="fade-in" data-aos-delay="50">
                <!-- Image -->
                <img src="{% static 'assets/img/illustrations/illustration-1.png' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="...">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 px-md-0">
                <!-- Heading -->
                <h1 class="display-2" data-aos="fade-left" data-aos-duration="150">
                    Learn From <span class="text-orange fw-bold">Anywhere</span>
                </h1>
                <!-- Text -->
                <p class="lead pe-md-8 text-capitalize" data-aos="fade-up" data-aos-duration="200">
                    Technology is bringing a massive wave of evolution on learning things in different ways.
                </p>
                <!-- Buttons -->
                <a href="course-list-v1.html" class="btn btn-wide btn-slide slide-primary shadow mb-4 mb-md-0 me-md-5" data-aos-duration="200" data-aos="fade-up">GET STARTED</a>
                <a href="course-list-v1.html" class="btn btn-primary btn-wide lift d-none d-lg-inline-block" data-aos-duration="200" data-aos="fade-up">VIEW COURSES</a>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- Featured Course -->
<section class="pt-5 pb-9 py-md-11">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-up">
            <div class="col-md mb-2 mb-md-0">
                <h1 class="mb-1">Featured Courses</h1>
                <p class="font-size-lg text-capitalize">Discover your perfect program in our courses.</p>
            </div>
        </div>

        <div class="mx-n4" data-flickity='{"pageDots": true, "prevNextButtons": false, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
            {% for course in courses|slice:'5' %}
            <div class="col-12 col-md-6 col-xl-4 pb-4 pb-md-7" data-aos="fade-up" data-aos-delay="50" style="padding-right:15px;padding-left:15px;">
                <!-- Card -->
                <div class="card border shadow p-2 sk-fade">
                    <!-- Image -->
                    <div class="position-relative">
                        <a href="{{ course.get_absolute_url }}" class="card-img sk-thumbnail d-block">
                            <img class="rounded shadow-light-lg" src="{{ course.featured_image.url }}" alt="Course Image">
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                        <!-- Heading -->
                        <div class="position-relative">
                            <a href="{{ course.get_absolute_url }}" class="d-block stretched-link">
                                <h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">{{ course.title }}</h4>
                            </a>

                            <div>
                                <span>{{ course.instructor.get_full_name }}</span>
                            </div>

                            <div class="d-lg-flex align-items-end flex-wrap mb-n1">
                                <div class="star-rating mb-2 mb-lg-0 me-lg-3">
                                    <div class="rating" style="width:50%;"></div>
                                </div>

                                <div class="font-size-sm">
                                    <span>5.45 (5.8k+ reviews)</span>
                                </div>
                            </div>

                            <div class="row mx-n2 align-items-end mh-50">
                                <div class="col px-2">
                                    <ul class="nav mx-n3">
                                        <li class="nav-item px-3">
                                            <div class="d-flex align-items-center">
                                                <div class="me-2 d-flex icon-uxs text-secondary">
                                                    <!-- Icon -->
                                                    <svg width="20" height="20" viewBox="0 0 20 20">
                                                        <use xlink:href="{% static 'courses/img/svgs/reader.svg' %}#reader" />
                                                    </svg>
                                                </div>
                                                <div class="font-size-sm">5 lessons</div>
                                            </div>
                                        </li>
                                        <li class="nav-item px-3">
                                            <div class="d-flex align-items-center">
                                                <div class="me-2 d-flex icon-uxs text-secondary">
                                                    <!-- Icon -->
                                                    <svg width="16" height="16" viewBox="0 0 16 16">
                                                        <use xlink:href="{% static 'courses/img/svgs/clock.svg' %}#clock" />
                                                    </svg>
                                                </div>
                                                <div class="font-size-sm">8h 12m</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-auto px-2 text-right">
                                    {% if course.is_free %}
                                    <span class="badge badge-lg badge-danger bottom-0 left-0 ms-4">
                                        <span class="text-white text-uppercase fw-bold font-size-xs">FREE</span>
                                    </span>
                                    {% else %}
                                        {% if course.has_discount %}
                                        <del class="font-size-sm">${{ course.regular_price }}</del>
                                        <ins class="h4 mb-0 d-block mb-lg-n1">${{ course.discount_price }}</ins>
                                        {% else %}
                                        <ins class="h4 mb-0 d-block mb-lg-n1">${{ course.regular_price }}</ins>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Categories -->
<section class="py-5 py-md-11 bg-white">
    <div class="container">
        <div class="row align-items-end mb-md-7 mb-4" data-aos="fade-up">
            <div class="col-md mb-4 mb-md-0">
                <h1 class="mb-1">Top categories</h1>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
            {% for category in categories|slice:'8' %}
            <div class="col mb-md-6 mb-4 px-2 px-md-4" data-aos="fade-up" data-aos-delay="50">
                <!-- Card -->
                <a href="{{ category.get_category_url }}" class="card icon-category border shadow-dark p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative text-light">
                        <div class="position-absolute bottom-0 right-0 left-0 icon-h-p">
                            <i class="{{ category.icon }}"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">{{ category.title|title }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- CALL ACTION -->
<section class="py-6 py-md-11 border-top border-bottom jarallax" data-jarallax data-speed=".8">
    <div class="container text-center py-xl-4" data-aos="fade-up">
        <h1 class="text-capitalize">Get personal learning recommendations</h1>
        <div class="font-size-lg mb-md-6 mb-4">Enhance your skills with best Online courses</div>
        <div class="mx-auto">
            <a href="#" class="btn btn-primary btn-x-wide lift d-inline-block">GET STARTED NOW</a>
        </div>
    </div>
</section>
{% endblock content %}