{% load static %}

<div class="d-block rounded border p-2 shadow mb-6">
    <a href="#" class="d-block sk-thumbnail rounded mb-1" data-fancybox>
        <div class="h-60p w-60p rounded-circle bg-white size-20-all d-inline-flex align-items-center justify-content-center position-absolute center z-index-1">
            <!-- Icon -->
            <svg width="14" height="16" viewBox="0 0 14 16">
                <use xlink:href="{% static 'assets/img/icons/play.svg' %}#play" />
            </svg>
        </div>
        <img class="rounded shadow-light-lg" src="{{ course.featured_image.url }}" alt="course featured image">
    </a>

    <div class="pt-5 pb-4 px-5 px-lg-3 px-xl-5">
        <div class="d-flex align-items-center mb-2">
            {% if course.is_free %}
            <span class="badge badge-lg badge-danger bottom-0 left-0">
                <span class="text-white text-uppercase fw-bold font-size-xs">FREE</span>
            </span>
            {% else %}
                {% if course.has_discount %}
                <ins class="h2 mb-0">${{ course.discount_price }}</ins>
                <del class="ms-3">{{ course.regular_price }}</del>
                <div class="badge badge-lg badge-purple text-white ms-auto fw-normal">{{ course.get_discount_percentage }}% Off</div>
                {% else %}
                <ins class="h2 mb-0">${{ course.regular_price }}</ins>
                {% endif %}
            {% endif %}
        </div>

        {% if course.has_discount %}
        <div class="d-flex align-items-center text-alizarin mb-6">
            <!-- Icon -->
            <svg width="20" height="20" viewBox="0 0 20 20">
                <use xlink:href="{% static 'assets/img/icons/alarm.svg' %}#alarm" />
            </svg>
            <span class="ms-2">2 days left at this price!</span>
        </div>
        {% endif %}

        <!-- if a course if free, only display the enroll button -->
        {% if course.is_free %}
        {{ is_enrolled }}
        {% if is_enrolled %}
        <button class="btn btn-primary btn-block mb-6" type="button" name="button">Go to course</button>
        {% else %}
        <button class="btn btn-primary btn-block mb-6" type="button" name="button">ENROLL</button>
        {% endif %}
        <!-- course is not free -->
        {% else %}
            <!-- check if a course is in the cart -->
            {% if in_cart %}
            <a href="{% url 'carts:cart' %}" class="btn btn-primary btn-block mb-3">Go to Cart</a>
            {% else %}
            <form action="{{ course.get_add_to_cart_url }}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary btn-block mb-3">Add to Cart</button>
            </form>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}    
            <button class="btn btn-primary btn-block mb-3" type="button" name="button">BUY NOW</button>
        </form>
        {% endif %}

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center py-3">
                <div class="text-secondary d-flex icon-uxs">
                    <!-- Icon -->
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="{% static 'assets/img/icons/clock.svg' %}#clock" />
                    </svg>
                </div>
                <h6 class="mb-0 ms-3 me-auto">Duration</h6>
                <span>43 weeks</span>
            </li>

            <li class="list-group-item d-flex align-items-center py-3">
                <div class="text-secondary d-flex icon-uxs">
                    <!-- Icon -->
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="{% static 'assets/img/icons/open-book.svg' %}#open-book" />
                    </svg>
                </div>
                <h6 class="mb-0 ms-3 me-auto">Lectures</h6>
                <span>32</span>
            </li>

            <li class="list-group-item d-flex align-items-center py-3">
                <div class="text-secondary d-flex icon-uxs">
                    <!-- Icon -->
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="{% static 'assets/img/icons/equalizer.svg' %}#equalizer" />
                    </svg>
                </div>
                <h6 class="mb-0 ms-3 me-auto">Skill level</h6>
                <span>{{ course.get_level_display }}</span>
            </li>

            <li class="list-group-item d-flex align-items-center py-3">
                <div class="text-secondary d-flex icon-uxs">
                    <!-- Icon -->
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <use xlink:href="{% static 'assets/img/icons/medal.svg' %}#medal" />
                    </svg>
                </div>
                <h6 class="mb-0 ms-3 me-auto">Certificate</h6>
                <span>{% if course.certificate %}Yes{% else %}No{% endif %}</span>
            </li>
            
            <li class="list-group-item d-flex align-items-center py-4">
                <a href="course-single-v5.html" class="mx-auto text-teal fw-medium d-flex align-items-center mt-2">
                    <!-- Icon -->
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <use xlink:href="{% static 'assets/img/icons/share.svg' %}#share" />
                    </svg>
                    <span class="ms-3">Share this course</span>
                </a>
            </li>
        </ul>
    </div>
</div>