<ul class="list-unstyled pt-2">
    <li class="media d-flex">
        <div class="avatar avatar-xxl me-3 me-md-6 flex-shrink-0">
            <img src="{{ review.user.profile.url }}" alt="profile" class="avatar-img rounded-circle">
        </div>
        <div class="media-body flex-grow-1">
            <div class="d-md-flex align-items-center mb-5">
                <div class="me-auto mb-4 mb-md-0">
                    <h5 class="mb-0">{{ review.user.get_full_name }}</h5>
                </div>
                <div class="star-rating">
                    <div class="rating" style="width:100%;"></div>
                </div>
            </div>
            <p class="mb-6 line-height-md">{{ review.content }}</p>
        </div>
    </li>
</ul>