<div class="row align-items-center mb-8">
    <div class="col-md-auto mb-5 mb-md-0">
        <div class="border rounded shadow d-flex align-items-center justify-content-center px-9 py-8">
            <div class="m-2 text-center">
                <h1 class="display-2 mb-0 fw-medium mb-n1">4.93</h1>
                <h5 class="mb-0">Course rating</h5>
                <div class="star-rating">
                    <div class="rating" style="width:100%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="d-md-flex align-items-center my-3 my-md-4">
            <div class="bg-gray-200 position-relative rounded-pill flex-grow-1 me-md-5 mb-2 mb-md-0 mw-md-260p" style="height: 10px;">
                <div class="bg-teal rounded-pill position-absolute top-0 left-0 bottom-0" style="width: 90%;"></div>
            </div>

            <div class="d-flex align-items-center">
                <div class="star-rating star-rating-lg secondary me-4">
                    <div class="rating" style="width:90%;"></div>
                </div>
                <span>4132</span>
            </div>
        </div>

        <div class="d-md-flex align-items-center my-3 my-md-4">
            <div class="bg-gray-200 position-relative rounded-pill flex-grow-1 me-md-5 mb-2 mb-md-0 mw-md-260p" style="height: 10px;">
                <div class="bg-teal rounded-pill position-absolute top-0 left-0 bottom-0" style="width: 60%;"></div>
            </div>

            <div class="d-flex align-items-center">
                <div class="star-rating star-rating-lg secondary me-4">
                    <div class="rating" style="width:60%;"></div>
                </div>
                <span>150</span>
            </div>
        </div>

        <div class="d-md-flex align-items-center my-3 my-md-4">
            <div class="bg-gray-200 position-relative rounded-pill flex-grow-1 me-md-5 mb-2 mb-md-0 mw-md-260p" style="height: 10px;">
                <div class="bg-teal rounded-pill position-absolute top-0 left-0 bottom-0" style="width: 50%;"></div>
            </div>

            <div class="d-flex align-items-center">
                <div class="star-rating star-rating-lg secondary me-4">
                    <div class="rating" style="width:50%;"></div>
                </div>
                <span>50</span>
            </div>
        </div>

        <div class="d-md-flex align-items-center my-3 my-md-4">
            <div class="bg-gray-200 position-relative rounded-pill flex-grow-1 me-md-5 mb-2 mb-md-0 mw-md-260p" style="height: 10px;">
                <div class="bg-teal rounded-pill position-absolute top-0 left-0 bottom-0" style="width: 35%;"></div>
            </div>

            <div class="d-flex align-items-center">
                <div class="star-rating star-rating-lg secondary me-4">
                    <div class="rating" style="width:35%;"></div>
                </div>
                <span>32</span>
            </div>
        </div>

        <div class="d-md-flex align-items-center my-3 my-md-4">
            <div class="bg-gray-200 position-relative rounded-pill flex-grow-1 me-md-5 mb-2 mb-md-0 mw-md-260p" style="height: 10px;">
                <div class="bg-teal rounded-pill position-absolute top-0 left-0 bottom-0" style="width: 15%;"></div>
            </div>

            <div class="d-flex align-items-center">
                <div class="star-rating star-rating-lg secondary me-4">
                    <div class="rating" style="width:15%;"></div>
                </div>
                <span>1</span>
            </div>
        </div>
    </div>
</div>